@forward './normalize.scss';
@forward './visually-hidden.scss';
@forward './container.scss';
@use '@/shared/styles/_index.scss' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: rem(4px);
    height: rem(4px);
  }

  &::-webkit-scrollbar-track {
    background-color: #1c1c1c;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: rem(4px);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $primary-dark-1;
  }
}

body {
  background-color: $neutral-bg-primary;
  color: $neutral-text-primary;
  font-family: $font-family;
  font-size: rem($body-base-size);
  font-weight: $body-base-weight;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

.highlight {
  color: $primary;
}
