@use '../../styles/index' as *;

.social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: rem(8px);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(10px);
}

.link {
  display: flex;
}
