@use '../../styles/index.scss' as *;

.label {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  padding: rem(14px) rem($padding-md);
  color: $neutral-text-secondary;
  min-height: rem(56px);
  background-color: $neutral-divider;
  border-radius: rem($radius-xl);
  color: $neutral-text-secondary;
  transition:
    border-color 0.3s,
    padding 0.3s;

  &:is(:focus-visible, :hover) {
    outline: none;
    border-color: $primary;
  }

  &:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: $neutral-text-secondary;
    box-shadow: inset 0 0 0 50px $neutral-divider;
  }

  &-error {
    border-color: $error-dark-1;

    &:is(:focus-visible, :hover) {
      outline: none;
      border-color: $error-dark-1;
    }
  }

  &-success {
    border-color: $success-dark-1;

    &:is(:focus-visible, :hover) {
      outline: none;
      border-color: $success-dark-1;
    }
  }
}

.text-error {
  opacity: 0;
  color: $error-dark-1;
  font-size: rem($body4-size);
  font-weight: 500;
  position: absolute;
  left: rem(24px);
  bottom: rem(-22px);
  transition: opacity 0.3s;

  &-visible {
    opacity: 1;
  }
}
