@use '@/shared/styles/index.scss' as *;

.checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: rem($space-xs);
  width: fit-content;
  user-select: none;

  &:hover,
  &:focus-within {
    .checkbox-indicator {
      border-color: $primary;
    }
  }
}

.checkbox-input:checked {
  & ~ .checkbox-indicator {
    border-color: $primary;
    background-color: $primary;

    &::after {
      opacity: 1;
      transform: rotate(45deg) scale(1);
    }
  }
}

.invalid {
  & ~ .checkbox-label-text {
    color: $error-dark-1;
  }

  & ~ .checkbox-indicator {
    border-color: $error-dark-1;
  }
}

.checkbox-indicator {
  position: relative;
  width: rem(24px);
  height: rem(24px);
  border: rem(1px) solid $neutral-text-secondary;
  border-radius: rem($radius-sm);
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;

  &::after {
    content: '';
    opacity: 0;
    border: 2px solid #000;
    border-width: 0 2px 2px 0;
    width: 6px;
    height: 12px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 4px;
    left: 8px;
    transform: rotate(45deg) scale(0);
  }
}

.checkbox-label-text {
  font-size: rem(14px);
  color: $neutral-text-secondary;
  transition: color 0.3s ease;
}
